
*{
    cursor: none;
    scroll-behavior: smooth;

}

h1,p{
    margin: 0;
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    background: #0B0B0B;
    overflow-x: hidden;
}

body::-webkit-scrollbar{
    display: none;
}

html{
    scrollbar-width: none;

}

